.task-container {
    background: lightgray;
    padding: 10px 5px;
    text-align: center;
    border: white 1px solid;
    margin-top: 5px;
}

.placeholder {
    background: transparent;
    border: 1px dashed white;
    opacity: 0.5;
}